
  <div class="container text-center">
  <div class="row">
    <h1>Le Mister Cocktail</h1>
    <br>
    <%= cl_image_tag("v1507867873/jyx1hss8puv5b1gdzrbs.jpg", width: 400, height: 300, crop: :fill) %>
    <br>
    <br>
    <em><p>Based in San Francisco, CA</p></em>
    <br>
    <% @cocktails.each do |cocktail| %>
      <h3> <%= cl_image_tag cocktail.photo, height: 30, width: 40, crop: :fill %>     <%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    <% end %>
    <br>
    <br>
    <%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-primary"} %>
  </div>
</div>
