
<h1>Le Mister Cocktail</h1>
<br>
<% @cocktails.each do |cocktail| %>
  <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
<% end %>
<br>
<%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-primary"} %>
