
<body>
  <div class="container text-center">
  <div class="row">
    <h1>Le Mister Cocktail</h1>
    <br>
    <% @cocktails.each do |cocktail| %>
      <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    <% end %>
    <br>
    <br>
    <%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-primary"} %>
  </div>
</div>
</body>
