<div class="container">
  <div class="row">
    <h1>Create a new cocktail</h1>
    <br>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <br>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
